:root {

  /* -- Primary -- */
  --bright-blue: hsl(220, 98%, 61%);
  --check-gradient: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* -- Light Theme -- */
  --very-light-gray: hsl(0, 0%, 98%);
  --dark-gray-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* -- Dark Theme -- */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  padding: 3rem;
  background-image: url(/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* -- Typography -- */
.header {
  color: white;
  letter-spacing: 5px;
}

/* -- TODO -- */

.container {
  position: relative;
}

.theme-switch {
  --size: 3rem;

  background-image: url(/images/icon-moon.svg);
  background-repeat: no-repeat;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}



/* -- Tasks -- */
.task, .new-task {
  padding: 1.5rem;
}

.tasks, .new-task {
  background-color: white;
  border-radius: 5px;
}

/* -- New Todo Form -- */

.new-task {
  margin-bottom: 3rem;
}

.new-task form {
  display: flex;
  align-items: center;
}

.new-task input {
  border: 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.new-task input::placeholder {
  font-size: 1.3rem;
}

.new-task input:focus {
  outline: none;
  border-color: var(--bright-blue);
}

.new-task input:focus::placeholder {
  opacity: .5;
}

/* -- Task -- */

.task > * {
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--very-dark-grayish-blue);
  border-bottom: 1px solid var(--light-grayish-blue);
}

[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

[type="checkbox"]:checked + label .custom-checkbox {
  background-image: url(/images/icon-check.svg), var(--check-gradient);
  background-repeat: no-repeat;
  background-position: center;
}

.task label {
  display: flex;
  position: relative;
}

.task label:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  border-color: var(--bright-blue);
}

label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 3.5rem;
  right: -3px;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: .2s;

}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
}

[type="checkbox"]:checked + label {
  opacity: .5;
}

.close {
  background-image: url(/images/icon-cross.svg);
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
/* -- Custom Checkbox -- */

.custom-checkbox {
  --spacer: 2rem;

  width: var(--spacer);
  height: var(--spacer);
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
  margin-right: var(--spacer);
  transition: transform .25s, border-color .25s;
}


/* -- Attribution -- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }